[banbot]
discord_token = DISCORD_BOT_TOKEN
matrix_homeserver = https://matrix.org
matrix_user = @my_bot:matrix.org
matrix_password = supersecretpassword
# Comma separated list
ban_terms = https://t.me/
accept_invites = True
